*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: sans-serif;
}

.container{
    width: 85%;
    margin: 0 auto;
}

/* Utilities */ 

.border-rad-10{
    border-radius: 10px;
}






/* content */

/********************** HEADER *********************/

header{
    background-color: rgb(25, 109, 235);
    margin-bottom: 40px;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px 0;
}

.header-content > *{
    display: inline-block;
}

.header-content h1{
    font-size: 28px;
}

/*********************** MAIN ***********************/

.get-demo{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.get-demo > *{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.get-demo .function-icon{
    margin-bottom: 20px;
}

.get-demo .function-icon i{
font-size: 50px;
}

.get-demo h2{
    font-size: 30px;
    margin-bottom: 22px;
}

.get-demo p{
    font-size: 15px;
    line-height: 1.2rem;
    margin-bottom: 29px;
}

#get-app a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    background-color: #0072ff;
    padding: 9px 42px;
    border-radius: 20px;
}

#get-app a:hover{
    background-color: #6fa7eb;
}

#get-app div{
    background-color: #d7d2b9;
    width: 172px;
    height: 195px;
    align-self: center;
    margin-top: 30px;
    border-radius: 20px 20px 0px 0px;
}

.get-demo #get-app{
    align-items: flex-start;
    background-color: rgb(147, 190, 255);
    padding: 20px 20px 0px;
}



#clean-code h2,
#clean-code i{
    color: green
}

#clean-code{
    background-color: lightgreen;
}

#web-design h2,
#web-design i{
    color: rgb(253, 122, 144);
}

#web-design{
    background-color: lightpink;
}

#development h2,
#development i{
    color: orange;
}

#development{
    background-color: rgb(255, 208, 119);
}



#branding h2,
#branding i{
    color: rgb(94, 82, 255);
}

#branding{
    background-color: rgb(173, 167, 253);
}

.get-demo #clean-code,
.get-demo #web-design,
.get-demo #development,
.get-demo #branding{
    align-items: center;
    margin-top: 20px;
}



/*media queries*/

@media screen and (min-width: 390px) {
    
}

@media screen and (min-width: 840px){

}

@media screen and (min-width: 1920px){
    
}