*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
}

/* Utilities */ 








/* content */

header{
    background-color: rgb(25, 109, 235);
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px 0;
}

.header-content > *{
    display: inline-block;
}

.header-content h1{
    font-size: 28px;
}







/*media queries*/

@media screen and (min-width: 390px) {
    
}

@media screen and (min-width: 840px){

}

@media screen and (min-width: 1920px){
    
}