*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: sans-serif;
}

.container{
    width: 85%;
    margin: 0 auto;
}

/* Utilities */ 

.border-rad-10{
    border-radius: 10px;
}






/* content */

/********************** HEADER *********************/

header{
    background-color: rgb(25, 109, 235);
    margin-bottom: 40px;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px 0;
}

.header-content > *{
    display: inline-block;
}

.header-content h1{
    font-size: 28px;
}

/********************** END HEADER *********************/

/*********************** MAIN ***********************/

/* SECTION 1 */

.get-demo{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.get-demo > *{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.get-demo .function-icon{
    margin-bottom: 20px;
}

.get-demo .function-icon i{
font-size: 50px;
}

.get-demo h2{
    font-size: 30px;
    margin-bottom: 22px;
}

.get-demo p{
    font-size: 15px;
    line-height: 1.2rem;
    margin-bottom: 29px;
}

#get-app a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    background-color: #0072ff;
    padding: 9px 42px;
    border-radius: 20px;
}

#get-app a:hover{
    background-color: #6fa7eb;
}

#get-app #image-phone{
    background-color: #d7d2b9;
    width: 172px;
    height: 195px;
    align-self: center;
    margin-top: 30px;
    border-radius: 20px 20px 0px 0px;
}

.get-demo #get-app{
    align-items: flex-start;
    background-color: rgb(147, 190, 255);
    padding: 20px 20px 0px;
}



#clean-code h2,
#clean-code i{
    color: green
}

#clean-code{
    background-color: lightgreen;
}

#web-design h2,
#web-design i{
    color: rgb(253, 122, 144);
}

#web-design{
    background-color: lightpink;
}

#development h2,
#development i{
    color: orange;
}

#development{
    background-color: rgb(255, 208, 119);
}



#branding h2,
#branding i{
    color: rgb(94, 82, 255);
}

#branding{
    background-color: rgb(173, 167, 253);
}

.get-demo #clean-code,
.get-demo #web-design,
.get-demo #development,
.get-demo #branding{
    align-items: center;
    margin-top: 20px;
}


/*      END SECTION 1     */

.font-img{
    margin: 20px auto;
    font-size: 12px;
    text-align: center;
}

.font-img a{
    color: black;
    text-decoration: underline rgb(133, 133, 245);
}

/*      SECTION 2      */

.strat-planning{
    width: 100%;
    background-color: rgb(163, 91, 245);
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
}

#strategy #image-strat{
    width: 100%;
    height: 190px;
    background-color: #d49fef;
    margin-bottom: 15px;
}

#strategy h2{
    font-size: 26px;
    margin: 25px 0;
}

#strategy p{
    font-size: 16px;
    line-height: 1.2rem;
    padding-right: 20px;
}

.strat-planning #strategy{
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}

#app-development div{
    background-color: lightgray;
    width: 80%;
    height: 200px;
    margin-bottom: 20px;
}


#app-development h3{
    margin: 10px auto;
}


#app-development p{
    font-size: 14px;
    line-height: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
}

#app-development a{
    background-color: #9395e9;
    padding: 10px 15px;
    border-radius: 50%;
}


.strat-planning #app-development{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    border-radius: 30px;
    background-color: white;
    margin-top: 30px;
}

/*     END SECTION 2    */












/*     SECTION 3        */

.expert-partners{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expert-partners > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.expert-partners p{
    font-size: 16px;
}

#testimonials h2,
#testimonials p{
    margin-bottom: 20px;
}

.expert-partners #testimonials span{
    font-size: 14px;
    margin-bottom: 20px;
}




.partner-photo{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.partner-photo img{
    width: 50%;
    border-radius: 50%;
}

#nat p,
#celia p,
#bob p{
    margin: 20px 0;
    padding: 0px 10px;
    line-height: 1.2rem;
}

#nat{
    background-color: #ffa7a7;
}

#celia {
    background-color:rgb(255, 208, 119);
}

#bob{
    background-color: lightgreen;
}

.expert-partners #nat,
.expert-partners #celia,
.expert-partners #bob{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}

/*     END SECTION 3      */








/*      SECTION 4         */

.benefits{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(163, 91, 245);
    padding: 20px;
    margin-bottom: 40px;
}

.benefits #title-benef{
    text-align: center;
    margin-bottom: 30px;
    padding-top: 30px;
}

.benefits h2{
    font-size: 25px;
    color: white;
}

.fourth-sec-squares span{
    font-size: 30px;
}

.fourth-sec-squares h3{
    margin: 20px 0px;
}

.fourth-sec-squares p{
    font-size: 16px;
    line-height: 1.1rem;
    color: #4c4c4c;
    margin-bottom: 20px;
}

.fourth-sec-squares a{
    font-size: 12px;
    text-decoration: none;
    color: white;
    background-color: rgb(163 91 245);
    padding: 10px 24px;
    border-radius: 25px;
}

.fourth-sec-squares a:hover{
    background-color: rgb(186, 136, 243);
}

.benefits .fourth-sec-squares{
    width: 100%;
    background-color: rgb(225 199 255);
    padding: 20px;
    color: rgb(163 91 245);
    border-radius: 15px;
    margin-top: 20px;
}


/*     END SECTION 4      */




/*     SECTION 5           */

.about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

#poema p{
    font-size: 16px;
    line-height: 1.1rem;
    padding-right: 90px;
    margin-top: 20px;
}

#help-companies img{
    width: 50%;
    border-radius: 50%;
}

#help-companies .fa-quote-right{
    position: absolute;
    font-size: 70px;
    left: 37%;
    color: #a35bf5;
}

#help-companies p{
    width: 75%;
    margin: 30px 0;
    font-size: 26px;
    font-weight: 700;
    color: #a35bf5;
}

#help-companies a{
    font-size: 12px;
    text-decoration: none;
    color: white;
    background-color: rgb(163, 91, 245);
    padding: 10px 24px;
    border-radius: 25px;
    align-self: flex-start;
}

#help-companies a:hover{
    background-color: rgb(186, 136, 243);
}

.about-us #help-companies{
    position: relative;
}

.about-us > * {
    width: 100%;
    display: flex;
    flex-direction: column;
}



/*     END SECTION 5       */




/*      SECTION 6         */  

.last-section{
    width: 100%;
    background-color: #a35bf5;
}

.free-offer > * {
    margin-bottom: 20px;
}

.free-offer #get-start{
    font-size: 14px;
    margin-bottom: 10px;
}

.free-offer h2{
    font-size: 29px;
    margin-bottom: 10px;
}

.free-offer h1{
    font-size: 52px;
    color: orange;
}

.free-offer p{
    font-size: 16px;
}

.free-offer #white-button{
    font-size: 12px;
    text-decoration: none;
    color: rgb(163 91 245);
    background-color: white;
    padding: 10px 24px;
    border-radius: 25px;
    margin-bottom: 20px;
}

.free-offer #white-button:hover{
    background-color: #d49fef;
}

.free-offer #copyright{
    font-size: 10px;
}

.free-offer #copyright a{
    color: white;
}

.free-offer #copyright a:hover{
    color: #98c6ff;
}

.free-offer #copyright i{
    font-size: 2px;
    vertical-align: middle;
    margin: 0px 2px;
}


.last-section .free-offer{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0px;
}

/*         END SECTION 6     */



/********************FOOTER***************************/



footer{
    width: 100%;
    background-color: rgb(32, 32, 32);
    color: white;
}


footer #footer-text{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 12px;
}

footer #footer-text p{
    margin-bottom: 30px;
}

footer #footer-text a{
    color: #6fa7eb;
}

footer #footer-text a:hover{
    color:#0072ff;
}


/*media queries*/

@media screen and (min-width: 390px) {
    .get-demo{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .get-demo h2{
        font-size: 22px;
    }

    .get-demo #get-app{
        justify-content: space-between;
        width: 68%;
        margin-right: 2%;
    }

    .get-demo #clean-code{
        width: 30%;
        margin-top: 0px;
    }

    #web-design{
        margin-right: 4%;
    }

    
    
    .get-demo #web-design,
    .get-demo #development,
    .get-demo #branding{
        width: 48%;
    }


    .get-demo #clean-code,
    .get-demo #web-design,
    .get-demo #development,
    .get-demo #branding{
        text-align: center;
    
    }
}

@media screen and (min-width: 550px){

    .get-demo #web-design,
    .get-demo #development,
    .get-demo #branding{
        width: 32%;
        margin-right: 2%;
    }

    .expert-partners #nat,
    .expert-partners #celia,
    .expert-partners #bob{
        flex-direction: row;
        text-align: left;
    }

    .partner-photo img{
        width: 70%;
    }

    
}

@media screen and (min-width: 840px){

}

@media screen and (min-width: 1920px){
    
}